{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 col-md-7 q-gutter-y-md">
    <wallet-config
      :total="utxos.total"
      v-model:config-data="config"
      :adminkey="g.user.wallets[0].adminkey"
    >
    </wallet-config>

    <wallet-list
      v-if="config.isLoaded"
      :adminkey="g.user.wallets[0].adminkey"
      :inkey="g.user.wallets[0].inkey"
      :sats-denominated="config.sats_denominated"
      :network="config.network"
      :addresses="addresses"
      :scanned-utxos="utxos.data"     
      @accounts-update="updateAccounts"
      @new-receive-address="showAddressDetailsWithConfirmation"
    >
    </wallet-list>

    <q-card>      
      <div class="row q-pt-sm q-pb-sm items-center no-wrap q-mb-md">
        <div class="col-md-3 col-sm-5 q-pl-md">
          <q-btn
            unelevated
            class="btn-full"
            outline
            @click="scanSilentPayAddress"
            :disabled="showPayment"
            >Scan Blockchain</q-btn
          >
        </div>        
        <div class="col-md-3 col-sm-5 q-pr-md">
          <q-btn-dropdown
            v-if="!showPayment"
            split
            unelevated
            outline
            label="New Payment"
            class="btn-full"
            @click="goToPaymentView"
          >
            <q-list>
              <q-item @click="goToPaymentView" clickable v-close-popup>
                <q-item-section>
                  <q-item-label>New Payment</q-item-label>
                  <q-item-label caption
                    >Create a new payment by selecting Inputs and
                    Outputs</q-item-label
                  >
                </q-item-section>
              </q-item>
              <q-item
                @click="showEnterSignedTnxDialog"
                clickable
                v-close-popup
              >
                <q-item-section>
                  <q-item-label>From Signed Tnx</q-item-label>
                  <q-item-label caption> Paste a signed Transaction</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </q-btn-dropdown>

          <q-btn
            v-if="showPayment"
            outline
            color="gray"
            class="btn-full"
            @click="showPayment = false"
            >Back</q-btn
          >
        </div>
      </div>      
    </q-card>

    <q-card v-if="config.isLoaded">
      <q-card-section v-show="!showPayment">
        <q-tabs v-model="tab" no-caps class="bg-dark text-white shadow-2">          
          <q-tab name="utxos" label="UTXOs"></q-tab>
        </q-tabs>
        <q-tab-panels v-model="tab">          
          <q-tab-panel name="utxos">
            <utxo-list
              :utxos="utxos.data"
              :mempool-endpoint="mempoolHostname"
              :accounts="walletAccounts"
              :sats-denominated="config.sats_denominated"
              :filter="utxosFilter"
            ></utxo-list>
          </q-tab-panel>
        </q-tab-panels>
      </q-card-section>
    </q-card>
    <div v-if="config.isLoaded" class="q-pt-sm">
      <payment
        ref="paymentRef"
        v-show="showPayment"
        :accounts="walletAccounts"
        :addresses="addresses"
        :utxos="utxos.data"
        :mempool-endpoint="mempoolHostname"
        :adminkey="g.user.wallets[0].adminkey"        
        :sats-denominated="config.sats_denominated"
        :network="config.network"
        @broadcast-done="handleBroadcastSuccess"
      ></payment>
      <!-- todo: no more utxos.data -->
    </div>
  </div>

  <div class="col-12 col-md-5 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h6 class="text-subtitle1 q-my-none">
          Silent Payments Wallet Extension
          <small>(v0.1)</small>
        </h6>
      </q-card-section>
      <q-card-section class="q-pa-none">
        <q-separator></q-separator>
        <q-list> {% include "silnt/_api_docs.html" %} </q-list>
      </q-card-section>
    </q-card>
  </div>  

  <q-dialog v-model="showEnterSignedPsbt" position="top">
    <q-card class="q-pa-lg lnbits__dialog-card">
      <h5 class="text-subtitle1 q-my-none">Enter the Signed PSBT</h5>
      <q-separator></q-separator><br />

      <p>
        <q-input
          filled
          dense
          v-model.trim="signedBase64Psbt"
          type="textarea"
          label="Signed PSBT"
        ></q-input>
      </p>

      <div class="row q-mt-lg q-gutter-sm">
        <q-btn
          outline
          v-close-popup
          color="grey"
          @click="checkPsbt"
          class="q-ml-sm"
          >Check PSBT</q-btn
        >
        <q-btn v-close-popup flat color="grey" class="q-ml-auto">Close</q-btn>
      </div>
      <div class="row q-mt-lg q-gutter-sm"></div>
    </q-card>
  </q-dialog>
</div>

{% endblock %} {% block vue_templates %}

<template id="wallet-config"
  >{% include("silnt/components/wallet-config.html") %}</template
>
<template id="utxo-list"
  >{% include("silnt/components/utxo-list.html") %}</template
>
<template id="wallet-list"
  >{% include("silnt/components/wallet-list.html") %}</template
>
<!-- <template id="address-list"
  >{% include("silnt/components/address-list.html") %}</template
> -->
<template id="my-checkbox"
  >{% include("silnt/components/my-checkbox.html") %}</template
>
<!-- <template id="history"
  >{% include("silnt/components/history.html") %}</template
> -->
<!-- <template id="fee-rate"
  >{% include("silnt/components/fee-rate.html") %}</template
> -->
<!-- <template id="seed-input"
  >{% include("silnt/components/seed-input.html") %}</template
> -->
<template id="send-to"
  >{% include("silnt/components/send-to.html") %}</template
>
<template id="payment"
  >{% include("silnt/components/payment.html") %}</template
>
{% endblock %} {% block scripts %} {{ window_vars(user) }}
<style>
  .btn-full {
    width: 100%;
  }
</style>
<script type="text/javascript" src="https://mempool.space/mempool.js"></script>

<script src="{{ static_url_for('silnt/static', 'js/tables.js') }}"></script>
<script src="{{ static_url_for('silnt/static', 'js/map.js') }}"></script>
<script src="{{ static_url_for('silnt/static', 'js/utils.js') }}"></script>
<script src="{{ static_url_for('silnt/static', 'js/bip39-word-list.js') }}"></script>

<script src="{{ static_url_for('silnt/static', 'js/index.js') }}"></script>

<script src="{{ static_url_for('silnt/static', 'components/my-checkbox.js') }}"></script>
<script src="{{ static_url_for('silnt/static', 'components/wallet-config.js') }}"></script>
<script src="{{ static_url_for('silnt/static', 'components/wallet-list.js') }}"></script>
<!-- <script src="{{ static_url_for('silnt/static', 'components/address-list.js') }}"></script> -->
<!-- <script src="{{ static_url_for('silnt/static', 'components/history.js') }}"></script> -->
<script src="{{ static_url_for('silnt/static', 'components/utxo-list.js') }}"></script>
<!-- <script src="{{ static_url_for('silnt/static', 'components/fee-rate.js') }}"></script> -->
<!-- <script src="{{ static_url_for('silnt/static', 'components/seed-input.js') }}"></script> -->
<script src="{{ static_url_for('silnt/static', 'components/send-to.js') }}"></script>
<script src="{{ static_url_for('silnt/static', 'components/payment.js') }}"></script>
<script src="{{ static_url_for('silnt/static', 'js/crypto/noble-secp256k1.js') }}"></script>
<script src="{{ static_url_for('silnt/static', 'js/crypto/aes.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>

{% endblock %}
